@*<div class="welcome-page">
        <div class="row">
            <div class="col-sm-10">
                <h1>
                    TicketingSystem Identity
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p>
                    Click <a href="~/grants">here</a> to manage your stored grants.
                </p>
            </div>
        </div>
    </div>*@
<div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top " id="sidebar-wrapper" role="navigation">

        <div class="sidebar-content">

        <h4>
        Click <a href="~/grants">here</a> to manage your stored grants.
        </h4>
        </div>
    </nav><!-- /#sidebar-wrapper -->

</div><!-- /#wrapper -->




