<div class="welcome-page">
    <div class="row">
        <div class="col-sm-10">
            <h1>
                TicketingSystem Identity
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p> 
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
    </div>
</div>
