.content {
  font-size: 1.1em;
  margin-top: 13px;
  text-align: center;
  span {
    color: #b5cc02;
  }
  .showcase-description {
    vertical-align: bottom;
  }
}

.product-info {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 40px;
  bottom: 0;
}
img {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.desc {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 8px;
}

.signature {
  margin-top: 35px;
  float: right;
  img {
    opacity: 0.4;
  }
  span {
    display: block;
    margin-left: 8em;
  }
}

.product-info:last-of-type{
  :last-child {
    position: relative;
    line-height: 3em;
  }

}
