<div id="title">
  <h1>{{title}}</h1>
</div>

<div class="container color-light">
  <div class="row content">
    <p>This is a demo project in which I demonstrate a full-stack web application,
      <br/>written in asp.net as back-end and angular as front-end
    </p>
    <p>
      The main goal of this project is to build a ticketing system where users can order tickets from different events
    </p>
    <p>
      Taking in consideration the heavy load a web application can get,
      <br/>I had to make sure my app is concurrency and heavy performance resistant. Everything gets logged in case of failure
    </p>
    <p>It contains:</p>
    <ul>
      <li>Real-time updates</li>
      <li>Single Sign on onto OAuth Server</li>
      <li>Load balanced API</li>
      <li>Scheduled Cart timer</li>
    </ul>
  </div>
</div>
