
        <div class="demo">

    <h1>Some controls for testing</h1>
        <strong>Get admin rights: </strong><a asp-area="" asp-action="GetAdminClaim" asp-controller="Home">Click here</a>
        <br />
        </div>
