
<!-- Event details -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 justify-content-center">
      <div>
        <div>
        </div>
        <div class="account-details">
          <mat-tab-group>
            <div *ngFor="let menuItem of accountMenu">
              <mat-tab label="{{menuItem}}">
                <ng-template mat-tab-label>
                    {{menuItem}}
               </ng-template>
               <div class='content'>
                  <div *ngIf="menuItem.toLowerCase() === 'profile'">
                    <app-profile [currentUser]='currentUser'></app-profile>
                  </div>
                  <div *ngIf="menuItem.toLowerCase() === 'users'">
                  <app-users></app-users>
                  </div>
                  <div *ngIf="menuItem.toLowerCase() === 'roles'">
                  <app-roles></app-roles>
                  </div>
               </div>
              </mat-tab>
            </div>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>