<div class='title'>
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row" *ngIf="boughtTickets$ | async; let boughtTickets">
    <div class="col-sm-12">

      <div *ngIf="hasBoughtTickets(); else noTickets">

        <mat-list dense>
          <mat-list-item *ngFor="let ticket of boughtTickets">
            <p mat-line>Ticket #{{ ticket.ticketId }}</p>
            <p mat-line>Ticket #{{ ticket.ticketStatus }}</p>
            <p mat-line>Ticket #{{ ticket.ticketCategory.type }}</p>
            <!-- <p mat-line>Ticket {{ ticket | json }}</p> -->
            <p mat-line>Ticket #{{ ticket.ticketCategory.price }}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="goback()">Back</button>
    </div>
  </div>

  <ng-template #noTickets>
    <div class="row">
      <div class="col-sm-12">
        <p>No tickets bought yet</p>
        <p>Go to
          <a routerLink="/events">events</a> and buy yourself some tickets first</p>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="goback()">Back</button>
    </div>
  </ng-template>

</div>
