
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let event of (events$ | async); let i = index">
      <p class="life-container d-inline">
        <mat-card class="card center" [@fadeInOut]>
          <mat-card-header>
            <mat-card-title>{{(event)['name']}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              {{event['description'] | truncate:[275, '...']}}
          </mat-card-content>
          <mat-card-actions class="pull-md-right">
            <button class="btn" (click)="showTickets(event)">Tickets</button>
          </mat-card-actions>
            <mat-card-subtitle>From {{event['start'] | date | uppercase }} to {{event['start'] | date | uppercase}}</mat-card-subtitle>
          </mat-card>
        </p>
      </div>
    </div>
  </div>


