.container {
  margin-top: 2em;
}

.orderInfo {
  display: block;
}

.orderInfo p {
  display: block;
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}

.delete-ticket .fa-trash {
  color: green;
}

.delete-ticket .fa-trash:hover {
  color: red;
}

.media-heading {
  color: goldenrod;
  padding-top: .75em;
  font-size: 1em;
  writing-mode: tb-rl;
}

.type-label {
  font-size: 3em;
  padding: .75em;
}

// Usage as a mixin
.element {
  @include clearfix;
}

.delete-ticket .fa-trash {
  color: green;
}

.delete-ticket .fa-trash:hover {
  color: red;
}

.media-heading {
  color: goldenrod;
  padding-top: 4px;
  font-size: 1em;
  writing-mode: tb-rl;
}

.type-label {
  font-size: 3em;
  padding: .75em;
}

.media-body {
  display: inline;
  p {
    display: inline;
  }
}

.action-buttons {
  display: inline;
  right: 0;
  margin: 15px;
  button {
    display: inline;
    margin: 8px;
  }
}
