<div class='title'>
  <h1>{{title}}</h1>
</div>
<div class="container color-light">
  <div class="row justify-content-sm-center">

    <div *ngIf="cart$ | async; let cart">

      <div *ngIf="cart else noCart">
        <div class="row">
          <div class="col-sm-12">
            <div class="float-sm-left">
              <p>Order #{{ cart.orderId }}</p>
            </div>
            <div class="float-sm-right">
              <countdown divider=":" units="Minutes | Seconds" end="{{ expireDate }} "></countdown>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="table-responsive-sm">
          <div class="col-sm-12 col-md-10">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th></th>
                  <th></th>
                  <th class="text-center">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of cart.tickets" [@fadeInOut]>
                  <td class="col-sm-12 col-md-6">

                    <div class="media">
                      <div class="media-heading">
                        <p>#{{ticket.ticketId}}</p>
                      </div>

                      <div class="media-body">
                        <div>
                          <p (click)="goToEvent(ticket.eventId)">Event: {{ ticket.eventName }}
                          </p>

                        </div>
                        <span>Status: </span>
                        <span class="text-success">
                          <strong>{{ ticket.ticketStatus }}</strong>
                        </span>
                      </div>
                    </div>
                  </td>

                  <td class="chip">
                    <div class="d-flex justify-content-center">

                      <mat-chip-list layout-align="center center">
                        <mat-chip color="primary" [style.background]="getTicketColor(ticket.ticketCategory.type)">{{ ticket.ticketCategory.type}}</mat-chip>
                      </mat-chip-list>
                    </div>
                  </td>
                  <td> </td>
                  <td class="text-center">$ {{ ticket.ticketCategory.price }} </td>
                  <td>
                    <a class="delete-ticket" (click)="cancelTicket(ticket.ticketId) ">
                      <i class="fa fa-trash fa-2x link-icon "></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <p>Subtotal</p>
                  </td>
                  <td class="text-right ">
                    <p>
                      <strong>EUR {{ calculateSubTotal() | number : '1.2-2'}}</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>
                    <p>BTW (21%)</p>
                  </td>
                  <td class="text-right ">
                    <strong>EUR {{ calculateBtw() | number : '1.2-2'}}</strong>
                  </td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>
                    <p>Total</p>
                  </td>
                  <td class="text-right ">
                    <p>
                      <strong>EUR {{ calculateTotal() | number : '1.2-2' }}</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td> </td>
                </tr>
              </tbody>
            </table>
              <div class="action-buttons justify-content-end ">

                <button type="button " class="btn btn-default align-self-end" (click)="continueShopping() ">
                  <span class="glyphicon glyphicon-shopping-cart "></span> Continue Shopping
                </button>
                <td>
                  <button type="button " class="btn btn-warning align-self-end" (click)="cancelCart() ">
                    Cancel
                    <span class="glyphicon glyphicon-play "></span>
                  </button>
                </td>
                <td>
                  <button type="button " class="btn btn-success align-self-end" (click)="complete() ">
                    Checkout
                    <span class="glyphicon glyphicon-play "></span>
                  </button>
              </div>
          </div>
        </div>
      </div>
    </div>


    <ng-template #noCart>
      <p>Please order some tickets first...</p>
    </ng-template>

  </div>
</div>
